name: Integration

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

defaults:
  run:
    shell: bash

jobs:
  Lint:
    runs-on: ubuntu-latest
    container:
      image: node:lts
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 2

      - name: Set up pnpm
        uses: pnpm/action-setup@v4.2.0
        
      - name: Set up Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Biome
        run: pnpm lint:biome

      - name: ESLint
        run: pnpm lint:eslint

      - name: Type Check
        run: pnpm lint:types

  Test:
    name: Build & Test
    runs-on: ubuntu-latest
    container:
      image: node:lts
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 2

      - name: Set up pnpm
        uses: pnpm/action-setup@v4.2.0
      
      - name: Set up Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test
